body {
  font-family: Quicksand, sans-serif;
  background-image: url('../assets/space.jpg');
  color: white;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.container {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2.5rem;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0;
}
.subtitle {
  font-size: 1.3rem;
  text-align: center;
}
.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.section {
  max-width: 300px;
}
.section-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.section-content {
  font-size: 1.1rem;
}
.faq {
  max-width: 712px;
}
.faq-title {
  font-size: 2rem;
  text-align: center;
}
.question {
  font-size: 1.2rem;
  font-weight: bold;
}
.answer {
  font-size: 1.2rem;
}
.register-title {
  font-size: 2rem;
  text-align: center;
}
.registration {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin-bottom: 16px;
  width: 280px;
  height: 36px;
  padding-left: 16px;
  border-radius: 6px;
  font-size: 1.1rem;
  font-family: Quicksand, sans-serif;
  border: 2px solid black;
  outline: none;
}
button {
  background-color: white;
  border: none;
  color: black;
  height: 36px;
  width: 100%;
  border-radius: 6px;
  font-size: 1.1rem;
  font-family: Quicksand, sans-serif;
  outline: none;
}
.footer {
  width: 100%;
  background-color: black;
  margin-top: 4rem;
}
.footer-text {
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}
.hidden {
  display: none;
}
.thank-you > p {
  text-align: center;
  font-size: 1.8rem;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation-name: fade;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}
.fade-in {
  animation-name: fade;
  animation-duration: .7s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
